
  .navbar{
    background:#d4a373;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_logo{
    font-weight: bold;
    font-size: 24px;
    margin: 25px;
    margin-left: 30px;
    color: rgb(2, 2, 2);
  }
  .nav_items a{
    margin: 40px;
    color: rgb(0, 0, 0);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  .nav_toggle{
    display: none;
  }
  .nav_items a {
    margin: 20px;
    color: rgb(0, 0, 0);
    position: relative;
    text-decoration: none;
    font-size: 24px;
    padding: 10px; 
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav_items a:hover {
    background-color: #83e69c; 
    color: rgb(0, 0, 0); 
    border-radius:25px;

  }
  
  @media (max-width: 768px) {
    .nav_items {
        position: absolute;
        top: 50px; /* Reduce el espacio desde la parte superior */
        left: 0;
        background: linear-gradient(to bottom, #d18e4b 10%, #e9c1b4 60%, #eceae9 80%);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100% - 50px); /* Ajusta la altura si es necesario */
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }
    .nav_items.open {
        transform: translateX(0) !important;
    }
    .nav_toggle {
        display: flex !important;
        flex-direction: column;
        margin: 10px; /* Reduce el margen */
    }
    .nav_toggle span {
        width: 25px; /* Reduce el ancho */
        height: 3px; /* Reduce la altura */
        background: rgb(8, 8, 8);
        margin-bottom: 4px; /* Reduce el margen inferior */
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }
    .nav_toggle.open > span {
        transform: rotate(45deg) translate(0px, 0px);
    }
    .nav_toggle.open > span:nth-child(2) {
        display: none;
    }
    .nav_toggle.open > span:nth-child(3) {
        transform: rotate(-45deg) translate(-4px, 1px); /* Ajusta la posición si es necesario */
    }
}
