.ver-producto-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #d4a373;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  border-color: #d4a373;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.ver-producto-btn:hover {
  background-color: #b99329;
  transform: scale(1.05);
  cursor: pointer;
}

.productos, .related-products {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.producto {
  background-color: #f8f4f0;
  border: 0.5px solid #d4a373;
  padding: 10px;
  margin: 10px;
  width: 220px;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.753);
  border-radius: 30px;
}

.producto:hover,
.producto:focus {
  transform: scale(1.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.788);
}

.producto img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 30px rgb(167, 148, 148);
  border-radius: 30px;
}

.producto img:hover {
  transform: scale(1.01);
}

.producto h3, .producto h4 {
  margin: 10px 0 0;
  font-size: 1.2em;
}

.producto p {
  margin: 10px 0 0;
}

.precio-original {
  text-decoration: line-through;
  color: #a0a0a0;
}

.precio-descuento {
  color: #d4a373;
  font-weight: bold;
}

.product-details {
  margin: 20px;
  text-align: center;
  position: reltive;
}

.product-main img {
  width: 400px;
  max-width: 350px;
  height: 350px;
  background-color: #f8f4f0;
  border: 0.5px solid #070707;
  padding: 0px;
  margin: 10px;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  border-radius: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    font-family: 'ADLaM Display', arial;
  }

  .productos, .related-products {
    flex-direction: column;
    align-items: center;
    font-family: 'ADLaM Display', arial;
  }

  .producto {
    width: 100%;
    max-width: 280px;
    font-family: 'ADLaM Display', arial;
  }

  .product-details {
    font-family: 'ADLaM Display', arial;
    font-size: 20px;
  }
  .product-main img {
    width: 100%;
    max-width: 280px;
    font-family: 'ADLaM Display', arial;
  } 
}

.nav_icon {
  margin-right: 8px;
  vertical-align: middle;
  font-size: 18px;
}
